{% extends 'core/base.html' %}
{% load base64_filters %}  

{% block title %}Measurement Details{% endblock %}

{% block content %}
<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">Measurement Information</h5>
        <p><strong>Date:</strong> {{ measurement.created_at|date:"F d, Y H:i" }}</p>
        <p><strong>Measurement Type:</strong> {{ measurement.get_measurement_type_display }}</p>

        <h5 class="mt-4">Uploaded Images</h5>
        <div class="row">
            {% if measurement.image1_data %}
                <div class="col-md-6">
                    <img src="data:image/jpeg;base64,{{ measurement.image1_data|b64encode }}" class="img-fluid" alt="Stored Image 1">
                </div>
            {% elif measurement.image1 %}
                <div class="col-md-6">
                    <img src="{{ measurement.image1.url }}" class="img-fluid" alt="Uploaded Image 1">
                </div>
            {% endif %}
            
            {% if measurement.image2_data %}
                <div class="col-md-6">
                    <img src="data:image/jpeg;base64,{{ measurement.image2_data|b64encode }}" class="img-fluid" alt="Stored Image 2">
                </div>
            {% elif measurement.image2 %}
                <div class="col-md-6">
                    <img src="{{ measurement.image2.url }}" class="img-fluid" alt="Uploaded Image 2">
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="mt-4">
    <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
    <a href="{% url 'delete_measurement' measurement.id %}" class="btn btn-danger">Delete Measurement</a>
</div>
{% endblock %}
