{% extends 'core/base.html' %}

{% block title %}Upload Images{% endblock %}

{% block content %}
    <h2 class="mt-5">Upload Images</h2>
    
    <form action="{% url 'upload_measurement' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <p>
        <label>Upload Image 1:</label>
        <input type="file" name="image1" required>
        </p>

        <p>
        <label>Upload Image 2:</label>
        <input type="file" name="image2">
        </p>

        <p> <button type="submit" class="btn btn-success mt-3">Submit</button> </p>
    </form>

    <a href="{% url 'new_measurement' %}" class="btn btn-secondary mt-3">Back</a>
{% endblock %}
